<li class="album-card_item">
  <div class="album-card">
    <header class="album-card_header">
      <a class="album-card_link" href={{link}}>
        <img class="album-card_image" src={{cover}} />
      <div class="album-card_info">
        <div class="album-card_description">{{description}}</div>
        <div class="album-card_count">{{count}}</div>
      </div></a></header>
    <footer class="album-card_footer album-card_footer--right"><span class="album-card_title">{{name}}</span></footer>
  </div>
</li>
