li.album-card_item
  .album-card
    header.album-card_header
      a(href='#{link}').album-card_link
        img(src='#{cover}').album-card_image
        .album-card_info
          .album-card_description #{description}
          .album-card_count #{count}
    footer.album-card_footer.album-card_footer--right
      span.album-card_title #{name}